<h3 class="pd_top">Post with this content.</h3>

<div class="pd_btm">
  <%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>Content:<%= @post.content %></p>
  <%= form.submit "Confirm"%>

  <%= form.submit "Back.", name: 'back'%>
  <% end %>
</div>